body {
  margin: 0;
  background: radial-gradient(circle, #0b0f14, #000);
  font-family: monospace;
  color: #00ffcc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-container {
  width: 500px;
  padding: 20px;
  border: 2px solid #00ffcc;
  border-radius: 12px;
  box-shadow: 0 0 20px #00ffcc33;
}

#labImage {
  width: 100%;
  max-height: 220px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

button {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  background: black;
  border: 1px solid #00ffcc;
  color: #00ffcc;
  cursor: pointer;
}

button:hover {
  background: #00ffcc;
  color: black;
}

.status {
  margin-top: 10px;
}